APP_NAME=congresos_example



# Parametros para el servidor web.

WEB_SERVER_PORT=8080



# Parametros para la BD.

DB_USR=admin
DB_PWD=12345
DB_HOST=localhost
DB_PORT=5432
DB_VOL=congresos_example_postgres_vol
DB_NAME=congresos_example



# Credenciales para usuarios pre-registrados.

ADMINISTRADOR_1_EMAIL=administrador.1@example.com
ADMINISTRADOR_1_PWD=12345
ADMINISTRADOR_1_TEL_PREF=52
ADMINISTRADOR_1_TEL_SUF=6641112222
ADMINISTRADOR_1_NOMBRE=Administrador
ADMINISTRADOR_1_AP_PATERNO=Uno

ORGANIZADOR_1_EMAIL=organizador.1@example.com
ORGANIZADOR_1_PWD=12345
ORGANIZADOR_1_TEL_PREF=52
ORGANIZADOR_1_TEL_SUF=6641113333
ORGANIZADOR_1_NOMBRE=Organizador
ORGANIZADOR_1_AP_PATERNO=Uno

STAFF_1_EMAIL=staff.1@example.com
STAFF_1_PWD=12345
STAFF_1_TEL_PREF=52
STAFF_1_TEL_SUF=6641114444
STAFF_1_NOMBRE=Staff
STAFF_1_AP_PATERNO=Uno

STAFF_2_EMAIL=staff.2@example.com
STAFF_2_PWD=12345
STAFF_2_TEL_PREF=52
STAFF_2_TEL_SUF=6641115555
STAFF_2_NOMBRE=Staff
STAFF_2_AP_PATERNO=Dos

ALUMNO_1_EMAIL=alumno.1@example.com
ALUMNO_1_PWD=12345
ALUMNO_1_TEL_PREF=52
ALUMNO_1_TEL_SUF=6641116666
ALUMNO_1_NOMBRE=Alumno
ALUMNO_1_AP_PATERNO=Uno
ALUMNO_1_NO_CONTROL=25211001
ALUMNO_1_CODIGO_CARRERA=ISC
ALUMNO_1_SEMESTRE=1
ALUMNO_1_GRUPO=A
ALUMNO_1_EXTERNO=false
ALUMNO_1_CURP=AAAA050130BBBCCC01
ALUMNO_1_EMAIL_INSTITUCIONAL=alumno.1@example.com

ALUMNO_2_EMAIL=alumno.2@example.com
ALUMNO_2_PWD=12345
ALUMNO_2_TEL_PREF=52
ALUMNO_2_TEL_SUF=6641117777
ALUMNO_2_NOMBRE=Alumno
ALUMNO_2_AP_PATERNO=Dos
ALUMNO_1_NO_CONTROL=25211002
ALUMNO_1_CODIGO_CARRERA=IND
ALUMNO_1_SEMESTRE=1
ALUMNO_1_GRUPO=A
ALUMNO_1_EXTERNO=false
ALUMNO_1_CURP=AAAA050130BBBCCC02
ALUMNO_1_EMAIL_INSTITUCIONAL=alumno.2@example.com
